name: Notify Teams on PR Review

on:
  pull_request:
    types: [opened, ready_for_review]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send PR to Teams
        uses: dawidd6/action-send-webhook@v3
        with:
          webhook-url: ${{ secrets.TEAMS_WEBHOOK_URL }}
          content: |
            {
              "type": "message",
              "attachments": [
                {
                  "contentType": "application/vnd.microsoft.card.adaptive",
                  "content": {
                    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                    "type": "AdaptiveCard",
                    "version": "1.4",
                    "body": [
                      {
                        "type": "TextBlock",
                        "text": "PR #${{ github.event.pull_request.number }}: ${{ github.event.pull_request.title }}",
                        "weight": "Bolder",
                        "size": "Medium"
                      },
                      {
                        "type": "TextBlock",
                        "text": "Opened by @${{ github.event.pull_request.user.login }}",
                        "isSubtle": true,
                        "spacing": "None"
                      }
                    ],
                    "actions": [
                      {
                        "type": "Action.OpenUrl",
                        "title": "Approve",
                        "url": "${{ github.event.pull_request.html_url }}/reviews/new?event=APPROVE"
                      },
                      {
                        "type": "Action.OpenUrl",
                        "title": "Request Changes",
                        "url": "${{ github.event.pull_request.html_url }}/reviews/new?event=REQUEST_CHANGES"
                      }
                    ]
                  }
                }
              ]
            }
